    <%- include("./partials/header.ejs") %>
    <h2>Provenance Records</h2>
    <% for (const report of reports) { %>
        <div><%= report.contents %></div>
        <% if (report.tags.length > 0) { %>
        <div style="font-size: small;">Tagged: <%= report.tags.join(", ") %></div>
        <% } %>
        <div style="font-size: small;"><%= report.createdAt %></div>
    <% } %>
    <hr>
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Create New Provenance Record</label>
            <input type="text" class="form-control" name="assertion" required placeholder="Device Assertion">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- <form method="POST" enctype="multipart/form-data" action="/provenance/image/<%= deviceKey %>">
        <div class="mb-3">
            <label class="form-label" for="file">Upload Provenance Image Record</label>
            <input type="file" class="form-control" accept="image/*" name="file" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->
    <%- include("./partials/footer.ejs") %>